.main {
  display: flex;
  gap: 20px;
}
.h1 {
  margin-top: 15px;
}
.input {
  margin-top: 10px;
  align-items: center;
  width: 200px;
}

.button{
margin-top: 20px;
height: 30px;
width: 70px;
padding: 5px 11px;
}
